<div class="py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <!-- form card login -->
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Retrait Argent</h3>
        </div>
        <div class="card-body">
          <form class="form" #retraitForm="ngForm" (ngSubmit)="OnSubmit(retraitForm.value)" >
            <div class="form-group">
              <label for="uname1">code</label>
              <input type="number" ngModel name="code" class="form-control rounded-0" required>
            </div>
            <div class="form-group">
              <label>cni</label>
              <input type="number" ngModel name="cni" class="form-control rounded-0"  required>
            </div>
            
            
            
            <button type="submit"  class="btn btn-primary float-right">Envoi</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


