<div class="card-body">
  <div class="table-responsive">
<table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%" style="margin-left:200px;margin-top:50px;">
          <thead>
    <tr>
        <th class="th-sm">id
          </th>
      <th class="th-sm">matricule
      </th>
      <th class="th-sm">nomPartenaire
      </th>
      <th class="th-sm">NINEA
      </th>
      <th class="th-sm">email
      </th>
      <th class="th-sm">adresse
      </th>
      <th class="th-sm">telephone
      </th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let partenaire of partenaires">
        <td>{{partenaire.id}}</td>
      <td>{{partenaire.matricule}}</td>
      <td>{{partenaire.nomPartenaire}}</td>
      <td>{{partenaire.NINEA}}</td>
      <td>{{partenaire.email}}</td>
      <td>{{partenaire.adresse}}</td>
      <td>{{partenaire.telephone}}</td>
      
    </tr> 
  </tbody>
</table>
</div>
</div>