
<p></p>
<nav>
  <ul class="nav justify-content-end">
    <li routerLinkAction="active" class="nav-item">
      <a routerLink="login" class="nav-link">login</a>
    </li>
    <li routerLinkAction="active" class="nav-item">
      <a routerLink="compte" class="nav-link">compte</a>
    </li>
    <li routerLinkAction="active" class="nav-item">
      <a routerLink="lister" class="nav-link">lister</a>
    </li>
    <li routerLinkAction="active" class="nav-item">
      <a routerLink="user" class="nav-link disabled" tabindex="-1" aria-disabled="true">user</a>
    </li>
 
    <li routerLinkAction="active" class="nav-item">
      <a routerLink="partenaire" class="nav-link disabled" tabindex="-1" aria-disabled="true">partenaire</a>
    </li>

    <li routerLinkAction="active" class="nav-item">
      <a class="nav-link disabled" tabindex="-1" aria-disabled="true"><button (click)="logoutUser()">Deconnexion</button></a>
    </li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>


