<table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
        <th class="th-sm">username
          </th>
      <th class="th-sm">matricule
      </th>
      <th class="th-sm">nom
      </th>
      <th class="th-sm">prenom
      </th>
      <th class="th-sm">email
      </th>
      <th class="th-sm">adresse
      </th>
      <th class="th-sm">telephone
      </th>
      <th class="th-sm">Status
      </th>
      <th class="th-sm">partenaire
        </th>
        <th class="th-sm">compte
          </th>
          <th class="th-sm">imageName
            </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.username}}</td>
      <td>{{user.matricule}}</td>
      <td>{{user.nom}}</td>
      <td>{{user.prenom}}</td>
      <td>{{user.email}}</td>
      <td>{{user.adresse}}</td>
      <td>{{user.telephone}}</td>
      <td>{{user.status}}</td>
      <td>{{user.Partenaire}}</td>
      <td>{{user.compte}}</td>
      <td>{{user.imageName}}</td>

    </tr> 
  </tbody>
  
</table>
